body{
	background: url('4.jpg'); 
	background-size: 100%;
	background-attachment: fixed;
}

#fest-name{
	font-family: cursive;
	font-weight: bold;
	font-size: 90px;
	color:white;
	display: inline;
	padding-left: 28%;
	
}

#pic{
	border: 2px solid red;
	border-radius: 50%;
	/*background-color: #b3b3b3;*/
	/*left: 33%;*/
	/*padding: 100px, 0;*/
	box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}
#pic:hover{
	border-color: white;
	height:230px;
	width:230px;
	background:white;
  outline: 0;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

#fest-desc{
	font-family: cursive;
	font-weight: bold;
	font-size: 30px;
	font-size: 50px;
	padding-left: 400px;
	color:black;
	
}

#btn{
	
    /*background-color: #4CAF50;*/
    border: 2px solid white;
    color: white;
    padding: 3px 25px;
    text-align: center;
    text-decoration: none;
    /*font-size: 20px;*/
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*padding-left: 40%;*/
    /*left:40%;*/
}
#enter{
	font-size:15px;
	font-family: "Arial";
}
#enter:hover{
	font-size: 20px;
	font-family: cursive;
	transition: 0.5s;
}