body{
	background: url("hackathon.png");
	background-size: 100%;
	background-attachment: fixed;
}
.heading{
	color: black;
	font-family: cursive;
	font-size: 60px;

}

#subhead{
	padding-left: 40px;
	font-size: 30px;
	/*font-family: "Montserrat", sans-serif;*/
	font-family: cursive;
}

#subdesc{
	font-size: 30px;
	font-family: "Monotype Corsiva", sans-serif;
}

#desc:{
	background-color: transparent;
	transition: 3s;
	border:2px;
	border-radius:10px;
}
#desc:hover{
	background-color: white;
	transition: 3s;
	border:2px;
	border-radius:10px;
}

.scroll{
	/*padding-bottom: : 20px;*/
    width: 30px;
    height: 50px;
    position: absolute;
    /*bottom: 50%;*/
    /*top:90%;*/
    left: 50%;
    /*cursor: ;*/
    margin-top: -25px;
    margin-left: -15px;
    /*color: white;*/
}
.scroll .mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 3px solid black;
    border-radius: 20px;
}
.scroll .wheel{
    width: 4px;
    height: 8px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: black;
    display: block;
    border-radius: 100%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    position: fixed;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {

    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}